*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* header section styles starts */
.header-container{
    display: flex;
    justify-content: space-between;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    align-items: center;
    padding: 20px;
}
.icon-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12rem;
    gap: 1rem;
}
nav>ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
.follow-us-container{
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    background: rgba(11, 2, 35, 0.10);
    align-items: center;
    padding: 0.4rem;
    margin-right: 10rem;
    margin-top: 20px;
}
.about-us,.developer{
    color: #3C354F;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 2rem;
}
.follow-us{
    color: #3C354F;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin-right: 10px;
}
#youtube{
    width: 2rem;
    height: 1.rem;
    padding-left: 0.4rem;
}
#tiktok{
    width: 1.5rem;
    height: 1.5rem;
}
.icon{
    width: 5.5rem;
    height: 2.5rem;
    text-align: center;
}
.header-title{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}
.gamer{
    color: #FF42A5;
}
/* header secton styles end */

/* banner section styles start */
.goat-section{
    background-image: url(../images/Group\ 14.png);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 700px;
    background: #FFF;
    padding: 20px;
}
.button{
    display: flex;
    gap: 1rem;
    justify-content: center;
}
.button-1{
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    display: inline-flex;
    padding: 1.5rem 2.5rem;
    align-items: flex-start;
    gap: 0.8rem;
    border: 0;
    color: #FFF;
}
.button-2{
    border-radius: 3rem;
    background: #4EC5F7;
    border: 0;
    display: inline-flex;
    padding: 1.5rem 2.5rem;
    align-items: flex-start;
    gap: 0.8rem;
    color: #FFF;
}
.banner-left{
    width: 901px;
    height: 100%;
}
.play-like{
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
}
.goat{
    text-align: center;
    font-size: 6rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0%;
    margin-bottom: 3rem;
}
.play{
    color: #534C64;
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}
/* banner secton styles ends here */

/* Online games section styles starts here */
.online-games-section{
    padding: 20px;
}
.online-games{
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin-top: 6rem;
}
.funny-videos{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 700;
}
.game-description{
    color: #534C64;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2rem;
}
.box{
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}
.box img {
    width: 100%;
    height: auto;
}
.box1,.box2,.box3,.box4{
    width: 342px;
    height: 440px;
    position: relative;
    overflow: hidden;
    flex-basis: calc(25% - 20px);
    margin-bottom: 20px;
    position: relative;
}
.image-info{
    color: #534C64;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem;
    text-align: center;
    margin-top: 1rem;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.play-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    clip-path: polygon(0 0, 100% 50%, 0 100%);
    transform: translateX(5px);
}
.box1:hover .overlay {
    opacity: 10;
}
.box2:hover .overlay {
    opacity: 10;
}
.box3:hover .overlay {
    opacity: 10;
}
.box4:hover .overlay {
    opacity: 10;
}
/* Online game section ends here */
/* Play game instantly syles starts */
.play-game-instantly{
    display: flex;
    justify-content: space-around;
    width: 1920px;
    height: 5927px;
    margin-top: 8rem;
}
.game-info{
    margin-top: 8rem;
    margin-right: 15rem;
}
.para-1{
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    width: 26rem;
}
.para-2{
    color: #534C64;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2rem;
    width: 30rem;
}
.img-2{
    position: relative;
    bottom: 8rem;
}
/* Respnsive for small device */
@media screen and (max-width:576px) {
    .header-container {
        flex-direction: column;
    }
    nav>ul{
        flex-direction: column;
    }
    .follow-us-container{
        margin: 0;
    }
    .goat-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .banner-left {
        width: 100%;
        text-align: center;
    }
    .box1, .box2, .box3, .box4 {
        flex-basis: 100%
    }
    .image-info {
        margin-top: 0.5rem;
    }
    .play-game-instantly{
        flex-direction: column;
        height: auto;
        width: 80%;
    }
}